

.header{
    display:flex;
    justify-content:center;
    background: #39445a;
    position:fixed;
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 3em;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 1px 15px black;
    z-index: 100;
}