@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  background: #39445a;
  padding-top: 130px;
}


::-webkit-scrollbar {
  width: 0.5rem;
  background: #121212;
}
/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 0.5rem;
  z-index: -99;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #19579e;
  border-radius: 0.5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003457;
  visibility: visible;
}

